@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: "Montserrat";
}

.container{
	width: 1140px;
	margin:0 auto;
	position: relative;
}

nav{
	display: flex;
	justify-content: space-between;
	height: 76px;
	align-items: center;
}

.nav-brand{
	font-size: 24px;
	color: #232323;
	font-weight: 700;
}

.nav-items{
	width: 60%;
	display: flex;
	justify-content: space-between;
}

.nav-links{
	display: flex;
	width: 80%;
	justify-content: space-around;
	list-style: none;
	align-items: center;
}

.nav-link{
	color: #232323;
	text-decoration: none;
	font-size: 16px;
}

.nav-link.active{
	font-weight: 600;
	border-bottom: 3px solid #5380F1;
}


button.btn-secondary{
	padding: 11px;
	border: 2px solid #287CAB;
	background-color: transparent;
	color: #287CAB;	
	font-weight: 500;
	font-size: 16px;
	border-radius: 100px;
}

section.home{
	display: grid;
	grid-template-columns: 1.4fr 1fr;
	grid-template-rows: 1fr;
}

.text-section{
	padding-top: 144px;
}

h1.large-title{
	font-size: 44px;
	color: #323232;
}

p.text-muted{
	font-size: 16px;
	color: #7C7C7C;
	margin: 16px 0;

}

button.btn-primary{
	padding: 22px 58px;
	background-color: #5380F1;
	border-radius: 100px;
	color: #ffffff;
	border: none;
	font-size: 16px;
	font-weight: 500;
	box-shadow: 0 10px 20px #0000003b;
	margin: 24px 0;
}

.jumbotron-img{
	padding-top: 20px;
	position: relative;
}

.jumbotron-img img{
	right: 0;
	position: absolute;
}

img.play{
	position: absolute;
	left: -40px;
	bottom: -150px;
}